<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/authors.css">
  <link rel="stylesheet" href="/css/authorForm.css">
  <link rel="stylesheet" href="/css/navbar.css">
  <link rel="stylesheet" href="/css/passwordPrompt.css">
  <link rel="stylesheet" href="/css/index.css">
  <title>Library Inventory - Authors</title>
</head>

<body>
  <%-include ('navbar')%>
    <header>
      <h1> Authors</h1>
      <div class="authors-utilities">
        <div class="authors-counter">
          <p>Author count:</p>
          <p>
            <%=authors.length%>
          </p>
        </div>
        <form method="get">
          <label for="sortby">Sort by</label>
          <select name="sortby" id="sortby" onchange="this.form.submit()">
            <option value="first-name">Name</option>
            <option value="last-name">Last name</option>
          </select>
        </form>
      </div>
    </header>
    <div class="authors-list">
      <div class="authors-container">

        <% authors.forEach((a)=>{ %>
          <div class="author-item-wrapper">
            <div class="author-item">
              <p>
                <%=a.first_name %>
                  <%=a.last_name %>
              </p>
              <div class="author-btns">
                <button class="edit-btn" type="button" data-author-id="<%=a.id%>">
                  <img src="/icons/edit.png" alt="click to edit ">
                </button>
                <button class="delete-btn" type="button" data-author-id="<%=a.id%>">
                  <img src="/icons/delete.png" alt="click to delete">
                </button>

              </div>
            </div>
          </div>
          <% }) %>

      </div>
    </div>
    <%-include('veil')%>
      <%-include('authorForm')%>
        <%-include('passwordPrompt' )%>
          <script src='/js/authorUtilities.js'></script>
</body>

</html>
